
/.idea
/.vscode
/nesmdb_flat
*.ckpt.*
/__pycache__
/lmd_full
/nesmdb_encoded
/nesmdb_encoded_mono
/lakh_encoded
/lakh_encoded_mono
*.out
*.so
nesmdb_stacked.pkl
/cat-mel_2bar_big.tar
/a.out
/vae_midis
/log_lakh.txt
/log_nesmdb.txt
*.mid
/*.pkl